@tailwind base;
@tailwind components;
@tailwind utilities;


button:focus {
    @apply focus:outline-none;
}

.sidebar {
    @apply flex flex-col lg:w-32;
}

.sidebar a , .sidebar button {
    @apply font-bold text-lg mb-4 block
}

.timeline {
    @apply lg:flex-1 lg:mx-10;
    max-width: 700px;
}

.timeline .tweetbox {
    @apply border border-blue-400 rounded-lg py-6 px-8 mb-8;
}

.timeline .timeline-list {
    @apply border border-gray-300 rounded-lg mb-4;
}


.tweet-button {
    @apply rounded-lg shadow py-2 px-2 font-bold
}

.is-active {
    @apply bg-blue-500 text-white;
    @apply hover:bg-blue-600;
}

.is-default {
    @apply bg-gray-100 text-black;
    @apply hover:bg-gray-200;
}

.is-danger {
    @apply bg-red-500 text-white;
    @apply hover:bg-red-600;
}


.tweetbox textarea {
    @apply w-full focus-within:outline-none;
}


.friends {
    @apply bg-blue-100 rounded-lg p-4;
    @apply lg:w-1/6;
}

.profile-avatar {
    @apply rounded-full absolute bottom-0 transform -translate-x-1/2 translate-y-1/2;
    width: 150px;
    left: 50%
}

.app  {
    max-width: 1600px;
}


.container {
    @apply mx-auto flex justify-center;
}

.card {
    @apply px-12 py-6 bg-gray-200 rounded-lg;
    @apply border border-gray-300;
}

.card-header {
    @apply font-bold text-lg mb-4;
}

.form-group {

}

.form-group.row {
    @apply mb-4;
}

.form-group.row label {
    @apply font-bold text-gray-600;
}

.form-group.row input[type=text],input[type=email],input[type=password] {
    @apply focus-within:outline-none;
    @apply border border-gray-400 p-2 w-full;
}

.form-check {
    @apply flex items-center text-sm
}

.form-check > :first-child {
    @apply w-1/12
}

.form-check > :last-child {
    @apply flex-1
}

.form-group .btn {
    @apply tweet-button;
    @apply text-sm;
}

.form-group .btn-primary {
    @apply is-active;
}

.form-group .btn-link {
    @apply is-default;
}

